##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## IntelliJ
##############################
out/
.idea
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
### NetBeans 
##############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

##############################
### STS
##############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

##############################

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/target/
/target/
*/target/*
.classpath
.project
.settings

